<div class="table-title">
    <h3>Servers</h3>
</div>
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-center" style="width: 80px;">Name</th>
            <th class="text-center" style="width:  auto;">Git</th>
            <th class="text-center" style="width: 95px;">Owner</th>
            <th class="text-center" style="width:  80px;">Date Added</th>
            <th class="text-center" style="width:  80px;">Date Updated</th>
            <th class="text-center" style="width: 115px;">Status
                <br>J&nbsp;&nbsp;/&nbsp;&nbsp;G&nbsp;&nbsp;/&nbsp;&nbsp;S</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        <tr ng-repeat="server in servers" ng-click="openServer(server.name)">
            <td class="text-left">{{server.name}}</td>
            <td class="text-left" style="word-break:break-all;">{{server.repo}}</td>
            <td class="text-left">{{server.owner}}</td>
            <td class="text-center">{{server.dateAdded}}</td>
            <td class="text-center">{{server.dateUpdated}}</td>
            <td class="text-center">
                <div class="circle" ng-class="server.status.jeeves"></div>&nbsp;&nbsp;
                <div class="circle" ng-class="server.status.git"></div>&nbsp;&nbsp;
                <div class="circle" ng-class="server.status.service"></div>
            </td>
        </tr>
        <tr ng-if="servers && !error">
            <td colspan="6" class="text-center">
                <b class="action-button" ng-click="newServer()">+ Server</b>
            </td>
        </tr>
        <tr ng-if="!servers && !error">
            <td colspan="6" class="text-center">Loading...</td>
        </tr>
        <tr ng-if="error">
            <td colspan="6" class="text-center">Error: {{error}}</td>
        </tr>
    </tbody>
</table>
